div.mymenu{
    height: 310px;
    width: 220px;
    float: left;
    margin-left: 42px;
    overflow: hidden;
    font-size: 17px;
    margin-bottom: 20px;
}

div.ok{
    clear: both
}

h1.wel{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 20px;
    font-size: 60px;
}

div.judul{
    margin-left: 27px;
    float: left;
    width: 250px;
}

div.our_head{
    clear: both
}

img.icon_home{
    height: 220px;
    width: 220px;
}

div.wel_col{
    margin-left: 200px;
}

div.wel_row{
   padding-top: 70px;
}


div.judul_wel{
    margin-left: 220px;
    float: left;
    width: 250px;
}

div.ptsp{
    width: 90%;
    height: 320px;
    margin-top: 90px
}

div.mynav{
    position: fixed;
    top: 0px;
    width: 100%;
}

body {
   background:url(../gambar/bg.jpg);
}

.navbar a:hover{
        background-color: #009c41;
}